### Data Analytics :

In [152]:
import pandas as pd
import numpy as np

In [153]:
chipo = pd.read_csv("Chipotle.tsv", sep = '\t')`

In [154]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

#### Reading text file in pieces

In [155]:
import pandas as pd
short=pd.read_csv("Chipotle.tsv",sep='\t',nrows=20)
short.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [156]:
short[['item_name','quantity']].head()

                               item_name  quantity
0           Chips and Fresh Tomato Salsa         1
1                                   Izze         1
2                       Nantucket Nectar         1
3  Chips and Tomatillo-Green Chili Salsa         1
4                           Chicken Bowl         2

#### Q. Count the number of missing values. How many values are missing for each of the variable (column)?

In [157]:
short.isnull().sum()

order_id              0
quantity              0
item_name             0
choice_description    6
item_price            0
dtype: int64

#### Q. Fill the value of NaN with string value '[Fresh Tomato Salsa]'.

In [158]:
short.choice_description.fillna('[Fresh Tomato Salsa]',inplace=True)
short.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,[Fresh Tomato Salsa],$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,[Fresh Tomato Salsa],$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

#### Q : What is the number of observations in the dataset?

In [159]:
len(chipo)

4622

In [160]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [161]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

##### Observation => choice_description column has missing data

#### Q : What is the number of columns in the dataset?

In [162]:
chipo.shape[1]

5

In [163]:
chipo.shape[0] 
## Gives # of ROWS

4622

#### Q : Print the name of all the columns.

In [164]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

#### Q : How is the dataset indexed?

In [165]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

#### Q : Which was the most-ordered item?

In [198]:
most_ordered = chipo.sort_values(by='quantity', ascending=False)
most_ordered.head(1)

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15.0,Chips and Fresh Tomato Salsa,NaN,44.25,663.75

#### 6 : For the most-ordered item, how many items were ordered?

In [167]:
most_ordered['quantity'][:1]

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

#### Q : What was the most ordered item in the choice_description column?

In [168]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [169]:
d = chipo.groupby('choice_description').sum()
d.head()

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...       279         1
[Adobo-Marinated and Grilled Chicken]                    217         1
[Adobo-Marinated and Grilled Steak, [Sour Cream...       279         1
[Adobo-Marinated and Grilled Steak]                      217         1

In [170]:
d = d.sort_values(by='quantity', ascending=False)
d.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

#### Q : How many items were orderd in total?

In [171]:
d['quantity'][:1]

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

In [172]:
## TOTAL ITEMS ORDERED AT THE STORE :
chipo['quantity'].sum()

4972

#### Q : Turn the item price into a float 
#### a. Check the item price type

In [173]:
chipo.item_price.dtype

dtype('O')

#### Q. How much was the revenue for the period in the dataset?

In [174]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [175]:
chipo['quantity'].dtype

dtype('int64')

In [176]:
chipo['item_price'].dtype

dtype('float64')

In [177]:
chipo['quantity'] = chipo['quantity'].astype(float)

In [178]:
revenue = (chipo['item_price'] * chipo['quantity']).sum()
revenue

39237.02

#### Q. How many orders were made in the period?

In [179]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1.0,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1.0,Izze,[Clementine],3.39
2,1,1.0,Nantucket Nectar,[Apple],3.39
3,1,1.0,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [180]:
chipo['order_id'].count()

4622

##### count() 
count() => will count the number of rows (EXCLUDING the NAN values)
##### sum()
sum() => will add the values for each of the records.
##### size() 
size() => returns the no. of elements (similar to len()).

#### Q. What is the average revenue amount per order?

In [181]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

In [182]:
avg_revenue = chipo.groupby('order_id').sum().mean()['revenue']
print("Average Revenue is :", round(avg_revenue,2))

Average Revenue is : 21.39

#### Q. How many different items are sold?

In [184]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1.0,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1.0,Izze,[Clementine],3.39,3.39
2,1,1.0,Nantucket Nectar,[Apple],3.39,3.39
3,1,1.0,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [188]:
# Solution 1 :
chipo['item_name'].unique().size

50

In [189]:
# Solution 2 :
len(chipo.item_name.unique())

50

In [192]:
# Solution 3 :
chipo.item_name.value_counts().size

50

In [194]:
# Solution 4 :
chipo.item_name.value_counts().count()

50

### FILTERING & SORTING :

#### Q : What is the price of each item? Print a data frame with only two columns item_name and item_price.

In [203]:
chipo.groupby('item_name')['item_price'].count()

item_name
6 Pack Soft Drink                         54
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            162
Bowl                                       2
Burrito                                    6
Canned Soda                              104
Canned Soft Drink                        301
Carnitas Bowl                             68
Carnitas Burrito                          59
Carnitas Crispy Tacos                      7
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             726
Chicken Burrito                          553
Chicken Crispy Tacos                      47
Chicken Salad                              9
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Chips                                    211
Chips and Fresh Tomato Salsa             110
Chips and Guacamole                      479
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        22
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo-Green Chili Salsa     31
Chips and Tomatillo-Red Chili Salsa       20
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          27
Salad                                      2
Side of Chips                            101
Steak Bowl                               211
Steak Burrito                            368
Steak Crispy Tacos                        35
Steak Salad                                4
Steak Salad Bowl                          29
Steak Soft Tacos                          55
Veggie Bowl                               85
Veggie Burrito                            95
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          7
Name: item_price, dtype: int64

#### Q : Delete the duplicates in item_name and quantity.

In [204]:
chipo_unique = chipo.drop_duplicates(['item_name', 'quantity'])
chipo_unique

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1.0,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1.0,Izze,[Clementine],3.39,3.39
2,1,1.0,Nantucket Nectar,[Apple],3.39,3.39
3,1,1.0,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
3890,1559,2.0,Carnitas Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]",17.98,35.96
3973,1592,4.0,Canned Soft Drink,[Coke],5.00,20.00
4152,1660,10.0,Bottled Water,NaN,15.00,150.00
4354,1738,2.0,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",18.50,37.00
4489,1786,4.0,Chips and Guacamole,NaN,17.80,71.20

#### Q : Select only the products with quantity equals to 1

In [205]:
chipo[chipo['quantity'] == 1]

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1.0,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1.0,Izze,[Clementine],3.39,3.39
2,1,1.0,Nantucket Nectar,[Apple],3.39,3.39
3,1,1.0,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
5,3,1.0,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
...,...,...,...,...,...,...
4617,1833,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

#### Q : Select only the item_name and item_price columns

In [207]:
chipo[['item_name', 'item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

#### Q : Sort the values from the most to less expensive

In [208]:
chipo.sort_values(by = 'item_price', ascending=False)

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15.0,Chips and Fresh Tomato Salsa,NaN,44.25,663.75
3480,1398,3.0,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25,105.75
1254,511,4.0,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00,140.00
3602,1443,4.0,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00,140.00
3601,1443,3.0,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75,101.25
...,...,...,...,...,...,...
3936,1578,1.0,Canned Soda,[Diet Dr. Pepper],1.09,1.09
2922,1162,1.0,Bottled Water,NaN,1.09,1.09
1396,567,1.0,Canned Soda,[Coca Cola],1.09,1.09
2562,1014,1.0,Canned Soda,[Coca Cola],1.09,1.09
1457,591,1.0,Canned Soda,[Sprite],1.09,1.09

#### Q : Sort by the name of the item.

In [209]:
chipo.sort_values(by = 'item_name')

,order_id,quantity,item_name,choice_description,item_price,revenue
3389,1360,2.0,6 Pack Soft Drink,[Diet Coke],12.98,25.96
341,148,1.0,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1.0,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1.0,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1.0,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1.0,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1.0,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1.0,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1.0,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1.0,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

In [210]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

#### Q : What was the quantity of the most expensive item ordered?

In [217]:
chipo.sort_values(by = 'item_price', ascending=False)['quantity'].head(1)

3598    15.0
Name: quantity, dtype: float64

#### Q : How many times was a Veggie Salad Bowl ordered?

In [220]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].count()['item_name']

18

#### Q : How many times did someone order more than one Canned Soda?

In [228]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1.0)].count()['item_name']

20